body {
  background: #edf1f4;
  font-family: Gabarito;
}

.container {
  margin-top: 20px;
  text-align: center;
}

.card {
  border-radius: 20px;
  background: #edf1f4;
  box-shadow: 20px 20px 24px rgba(13, 39, 80, 0.18), -20px -20px 20px #ffffff;
  border: none;
  display: block;
  margin: 20px auto;
  color: #6a6975;
}

header ul {
  list-style: none;
  text-align: left;
  padding-left: 0;
  margin: 20px 40px;
}

.city-timezone {
  margin-top: 20px;
  letter-spacing: 2px;
}

.city-timezone .am-pm {
  font-size: 18px;
}

footer ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
}

footer {
  text-align: center;
}
