body {
  background: #edf1f4;
  font-family: Gabarito;
}

.container {
  margin-top: 20px;
  text-align: center;
}

.header-card {
  background: transparent;
  border: none;
  display: block;
  margin: 40px auto;
  text-align: left;
}

.form-card {
  border: none;
}

select {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(144, 144, 148, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #9f9ea1;
  padding: 5px 10px;
}

.timezone-card {
  border-radius: 20px;
  background: #edf1f4;
  box-shadow: 20px 20px 24px rgba(13, 39, 80, 0.18), -20px -20px 20px #ffffff;
  border: none;
  display: block;
  margin: 20px auto;
  color: #6a6975;
}

header ul {
  list-style: none;
  text-align: left;
  padding-left: 0;
  margin: 20px 40px;
}

.city-timezone {
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.city-date {
  color: #9f9ea1;
}

footer ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
}

footer {
  text-align: center;
}

footer p {
  color: #9f9ea1;
}
